/* modalGift */
.modalGift {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

/* content */
.modalGift .content {
    width: 1035px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

/* top */
.modalGift .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGift .btnDelete {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #DF3939;
}

.modalGift .content .top .btnClose {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.modalGift button:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* giftInfo */
.modalGift .content .giftInfo {
    margin-top: 60px;
}

.modalGift .content .giftInfo .overView {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGift .content .giftInfo .overView img {
    width: 443px;
    border-radius: 10px;
    margin-right: 46px;
}

.modalGift .content .giftInfo .overView .info {
    flex: 1;
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalGift .content .giftInfo .overView .info .rowPrice {
    display: flex;
    gap: 10px;
}

.modalGift .content .giftInfo .overView .info .rowPrice .iconArrowDown {
    position: relative;
    top: 5px;
}

.modalGift .content .giftInfo .overView .info .rowType .listType {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.modalGift .content .giftInfo .overView .info .rowType .listType button {
    width: 104px;
    height: 39px;
    font-size: 18px;
    color: #00000080;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    background-color: transparent;
}

.modalGift .content .giftInfo .overView .info .rowType .listType button:hover {
    cursor: pointer;
    color: black;
    background-color: #d9d9d9b3;
    font-weight: bold;
}

.modalGift .content .giftInfo .overView .info .groupAction1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGift .content .giftInfo .overView .info .groupAction1 .amount {
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between
    /* gap: 15px; */
}

.modalGift .content .giftInfo .overView .info .groupAction1 .amount p {
    font-size: 22px;
    color: #313144;
}

.modalGift .content .giftInfo .overView .info .groupAction1 .amount button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #FF4D00;
}

.modalGift .content .giftInfo .overView .info .groupAction1 .amount button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.modalGift .content .giftInfo .overView .info .groupAction1 .btnBuy {
    width: 142px;
    height: 57px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #FF4D00;
}

.modalGift .content .giftInfo .overView .info .groupAction1 .btnBuy:hover {
    cursor: pointer;
    opacity: 0.75;
}

.modalGift .content .giftInfo .desc {
    font-size: 24px;
    color: #383838;
    margin-top: 46px;
}

.modalGift .content .groupNote {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalGift .content .groupNote .typeNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 16px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.modalGift .content .groupNote .typeNote .rowUserInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modalGift .content .groupNote .typeNote .rowUserInfo p {
    font-size: 18px;
    font-weight: 600;
    color: #383838;
}

.modalGift .content .groupNote .typeNote textarea {
    resize: none;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #0000001a;
}

.modalGift .content .groupNote .typeNote .groupAction2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGift .content .groupNote .typeNote .groupAction2 .groupMakeStyle {
    display: flex;
    gap: 12px;
}

.modalGift .content .groupNote .typeNote .groupAction2 .groupMakeStyle .iconMake:hover {
    cursor: pointer;
}

.modalGift .content .groupNote .typeNote .groupAction2 .comment {
    width: 108px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #0089FF;
}

.modalGift .content .groupNote .typeNote .groupAction2 .comment:hover {
    cursor: pointer;
    opacity: 0.75;
}

.modalGift .content .groupNote .listNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    border: 1px solid #77777780;
    border-radius: 10px;
}

.modalGift .content .groupNote .listNote .rowUserInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modalGift .content .groupNote .listNote .rowUserInfo p {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.modalGift .content .groupNote .listNote .note {
    font-size: 16px;
    color: #00000099;
}

.modalGift .content .groupNote .listNote .rowTrash {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGift .content .groupNote .listNote .rowTrash p {
    font-size: 14px;
    font-weight: 600;
    color: #00000066;
}